<link rel="stylesheet" href="D:\Semester 6\Web_Technology_Fall23-\final_lab\myexpress_app\public\stylesheets\style.css">

<form action="/users/add" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button type="submit">Add User</button>
</form>
